<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>relife_project</display-name>
  <servlet>
  	<servlet-name>TransferServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TransferServlet</servlet-name>
  	<url-pattern>/transferServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ClerkServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.ClerkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClerkServlet</servlet-name>
  	<url-pattern>/ClerkServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.LoginServlet.java</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  
  	<servlet-name>OrangeServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.OrangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrangeServlet</servlet-name>
  	<url-pattern>/OrangeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ClientServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClientServlet</servlet-name>
  	<url-pattern>/ClientServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>RoadmapaddServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.RoadmapaddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RoadmapaddServlet</servlet-name>
  	<url-pattern>/RoadmapaddServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DriverServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.DriverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DriverServlet</servlet-name>
  	<url-pattern>/DriverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>PlaceServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.PlaceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>PlaceServlet</servlet-name>
  	<url-pattern>/placeServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>MakeServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.MakeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MakeServlet</servlet-name>
  	<url-pattern>/makeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>BillServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.BillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>BillServlet</servlet-name>
  	<url-pattern>/billServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ContractServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.ContractServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ContractServlet</servlet-name>
  	<url-pattern>/contractServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ModeServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.ModeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ModeServlet</servlet-name>
  	<url-pattern>/modeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CentreServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.CentreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CentreServlet</servlet-name>
  	<url-pattern>/centreServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>MessageServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MessageServlet</servlet-name>
  	<url-pattern>/messageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>NoticeServlet</servlet-name>
  	<servlet-class>cn.com.relife.connetor.NoticeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NoticeServlet</servlet-name>
  	<url-pattern>/noticeServlet</url-pattern>
  </servlet-mapping>
</web-app>